---
import "../style/global.css";
---

<div class="logo">
  <a href="/forside">
    <!--?xml version="1.0" encoding="UTF-8"?-->
    <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 852.47 284.41"
      ><path d="M549.25,152.11c-6.18,6.9-7.35-9.84-8.95-13.55-12.84-29.76-64.97-25.12-67.4,8.79-.33,4.63,4.04,15.75-1.14,17.98-5.6,2.42-7.33-12.03-7.26-15.17.83-35.74,44.9-52,72.18-32.07,7.61,5.56,19.86,25.86,12.57,34.01Z" style="fill:#f5d16b;"></path><path d="M657.18,57.79c-28,10.57-56.32,25.61-79.42,45-8.19,6.87-15.33,20.39-26.52,19.21-5.13-5.09,19.13-25.51,23.31-28.84,23.32-18.53,52.51-32.88,81.86-38.53l.77,3.16Z" style="fill:#f5d16b;"></path><path d="M583.32,1.63c1.1,1.22-5.42,9.91-6.7,11.74-14.49,20.81-29.18,37.36-40.13,61-4.4,9.49-5.21,23.5-14.97,28.34-7.61-.38,4.15-29.07,5.82-32.67,11.72-25.18,34.09-51.65,55.97-68.41Z" style="fill:#f5d16b;"></path><path
        d="M461.35.03c2.31-.38,2.24,2.83,2.7,4.48,4.82,17.39,5.94,37.17,10.58,55.24,3.34,13.03,7.77,25.72,13.23,38-2.74,13.98-10.88.17-13.97-6.76-11.03-24.76-15.75-64.2-12.54-90.96Z"
        style="fill:#f5d16b;"></path><path d="M384.29,56.2c14.97,12.26,27.47,27.6,42.57,40.08,8.34,6.9,28.34,18.21,33.7,24.08,3.82,4.18,3.19,8.42-2.83,7.79-8.54-.9-31.15-19.67-38.16-26.19-5.34-4.96-39.27-40.65-35.28-45.77Z" style="fill:#f5d16b;"></path><path d="M663.59,131.65c0,2.57-5.49,2.57-7.47,2.94-15.67,2.94-33.24,3.18-49.29,5.29-10.29,1.36-23.18,5.45-32.58,6.08-6.69.45-10.16-3.58-4.39-7.73,10.17-7.33,65.99-9.14,80.15-8.27,4.57.28,8.92,2.12,13.57,1.69Z" style="fill:#f5d16b;"></path><path d="M448.48,157.29c-3.87,5.89-37.54-5.53-44.17-7.97-14.46-5.32-33.37-13.39-44.12-24.09,15.55,3.23,29.87,10.55,44.96,15.22,7.03,2.18,39.33,8.92,41.75,11.22,1.88,1.78,1.83,3.22,1.57,5.62Z" style="fill:#f5d16b;"></path><path
        d="M89.9,158.98v25.87c5-.21,6.43-5.35,11.57-6.53,36.2-8.32,31.47,38.17,16.78,58.17-3.49,4.76-11.98,11.68-10.79,1.4,1.53-13.23,13.36-36.54,3.25-50.13-7.05-9.48-20.81,3.49-20.81,11.75v33.64c-5.2-.48-11.85,1.92-15.52-2.59v-71.58h15.52Z"
        style="fill:#5e2750;"></path><path d="M660.85,158.98v25.87c5-.21,6.43-5.35,11.57-6.53,36.2-8.32,31.47,38.17,16.78,58.17-3.49,4.76-11.98,11.68-10.79,1.4,1.57-13.66,13.17-34.89,3.68-49.12-7.71-11.57-21.24,2.52-21.24,12.47v31.91c-5.2-.48-11.85,1.92-15.52-2.59v-71.58h15.52Z" style="fill:#5e2750;"></path><path d="M195.12,230.57c-1.34,4.34-17.86,4.4-18.1-2.58-25.84,17.59-48.63-11.47-36.83-36.82,7.13-15.31,32.43-19.97,39.43-2.87l3.47-.8,6.17-9.37c1.89-1.17,5.86,1.2,5.86,2.42v50.02ZM161.85,185.2c-10.67,3.2-11.02,31.2-3.85,37.64,22.22,19.97,30.11-45.52,3.85-37.64Z" style="fill:#5e2750;"></path><path d="M64.02,183.12l-6.97.9c-21.99-34.92-50.77,8.75-33.45,33.48,9.87,14.09,25.36,10.8,32.9-3.41l7.51,2.71c-19.68,33.47-70.16,14.11-63.4-25.5,5.21-30.53,53.12-39.18,63.4-8.18Z" style="fill:#5e2750;"
      ></path><path d="M762.62,233.15c-7.03,1.34-8.86-6.77-10.38-12.07-4.49-1.14-3.69,3.38-6.76,6.11-6.54,5.8-9.14,6.69-18.3,6.05-19.87-1.38-20.07-22.36-16.83-37.69,2.05-9.68,6-20.78,17.75-17.59-3.18,10.52-10.44,58.45,12.1,47.43,11.25-5.5,4.84-35.56,7.64-45.82l14.77-1.62v55.2Z" style="fill:#5e2750;"></path><path d="M308.51,178.37c47.58-8.15,49.74,59.18,3.03,54.79-32.16-3.03-33.77-49.52-3.03-54.79ZM313.69,183.4c-16.65,2.97-15.63,45.75,2.91,44.56,18.7-1.2,18.14-48.32-2.91-44.56Z" style="fill:#5e2750;"></path><path
        d="M453.87,212.46c1.76,12.72,13.81,18.83,24.8,11.84,4.37-2.78,3.26-7.88,8.81-6.66,6.31,2.43-1.87,9.5-4.38,11.11-19.85,12.79-47.26-.02-45.69-25.01,2.27-36.2,58.48-32.65,54.33-4.36-2.25,15.34-26.25,16.04-37.87,13.07ZM454.06,207.09c13.49,7.88,35.27-6.47,22.3-19.72-11.96-12.22-26.42,6.69-22.3,19.72Z"
        style="fill:#5e2750;"></path><polygon points="579.78 165.88 579.79 174.52 560.8 174.51 560.8 233.15 543.55 233.15 543.55 174.51 524.57 174.52 524.58 165.88 579.78 165.88" style="fill:#5e2750;"></polygon><path d="M850.58,184.89c1.51,2.72-7.06,8.28-7.77,8.28-1.23,0-7.22-8.87-14.24-9.72-4.12-.5-12.17.83-12.61,5.74-1.16,12.86,32.71,7.98,36.01,22.79,5.35,24-34.36,26.16-47.95,14.24l6.26-8.47c2.6-.45,5.91,4.89,8.63,6.52,11.92,7.1,27.68-1.15,18.36-8.46-10.63-8.33-36.9-1.2-33.16-24.81,2.93-18.49,34.78-14.83,46.46-6.11Z" style="fill:#5e2750;"></path><path d="M403.83,184.86l-10.36-.87v-6.02s10.37,0,10.37,0l-.02-18.99,14.54-.02.98,19.01h15.54s0,6.88,0,6.88h-15.53v45.72c-3.67,4.51-10.32,2.1-15.52,2.59v-48.3Z" style="fill:#5e2750;"></path><path
        d="M358.99,184.86l-8.63-.87v-6.02s8.64,0,8.64,0l-.02-18.99,14.54-.02.98,19.01c1.79,1.8,22.01-4.21,16.38,6.9h-16.38s0,48.29,0,48.29c-5.2-.48-11.85,1.92-15.52-2.59v-45.71Z"
        style="fill:#5e2750;"></path><path d="M616,180.54c1.16-3.74,14.91-4.08,17.25,0v36.22c0,3.97-3.24,14.93-4.88,19.27s-11.4,21.66-15.89,20.57l-4.92-3.59c1.76-3.57,8.44-16.15,8.44-19v-53.47Z" style="fill:#5e2750;"></path><path d="M260.67,233.15v-79.35c5.77-2.15,14.25,12.71,15.16,16.75,1.21,5.33,1.35,58.48-.39,60.98l-14.77,1.62Z" style="fill:#5e2750;"></path><path d="M207.19,180.54l4.29-2.58,8.65,12.03c6.5-12.92,21.94-17.06,32.89-6.88l-8.75,13.8c-1.04.44-1.27-11.06-8.71-12.12-7.87-2.38-12.84,10.8-12.84,16.44v31.91c-5.2-.48-11.85,1.92-15.52-2.59v-50.02Z" style="fill:#5e2750;"></path><path d="M586.68,180.54c1.16-3.74,14.91-4.08,17.25,0v50.02c-3.71,4.07-13.54,4.07-17.25,0v-50.02Z" style="fill:#5e2750;"></path><polygon
        points="791.94 177.96 791.94 233.15 777.17 231.54 776.66 180.78 779.24 178.2 791.94 177.96"
        style="fill:#5e2750;"></polygon><path d="M601.78,159.41c9.69,9.72-11.18,22.44-14.84,8.67-2.58-9.68,9.47-14.06,14.84-8.67Z" style="fill:#5e2750;"></path><path d="M631.1,159.41c9.69,9.72-11.18,22.44-14.84,8.67-2.58-9.68,9.47-14.06,14.84-8.67Z" style="fill:#5e2750;"></path><path d="M781.09,157.55c8.4-2.49,15.78,6.88,9.91,13.41-10.4,11.58-21.3-10.03-9.91-13.41Z" style="fill:#5e2750;"></path><path
        d="M479.73,250.89c4.02-.97,4.58,2.81,5.78,5.77.93.87,1.94-2.5,2.39-3.11,3.69-4.98,13.85-4.45,15.45,2.06,1.48.09,1.63-1.89,2.96-3.07,3.31-2.92,8.41-2.91,12.1-.71,9.51,5.66,2.88,26.83-4.42,32.58l-3.32-1.27c.97-2.11,1.88-4.16,2.49-6.43,1.24-4.61,4.36-21.39-2.34-22.6-2.86-.52-5.39,3.66-5.39,5.96v18.63h-8.4v-19.16c0-1.97-2.53-5.8-4.87-5.43s-4.05,4.52-4.05,6.48v18.11h-8.4v-27.82Z"
        style="fill:#f5d16b;"></path><path d="M444.04,240.92v37.79c-4.56.99-4.06-1.8-6.15-4.59-1.3-1.74-1.45.84-2.76,2.25-5.82,6.27-16.48,2.9-19.59-4.6-4.94-11.89,3.67-24.84,16.78-20.45l3.32,2.72v-13.12h8.4ZM427.1,254.68c-6.24,1.43-7.16,22.33,3,20.84,8.22-1.2,7.78-23.32-3-20.84Z" style="fill:#f5d16b;"></path><path d="M361.12,278.71c-2.82.44-3.61-.41-4.98-2.62-9.87,7.9-25.95,2.01-28.48-10.37-3.08-15.07,11-26.75,25.26-21.06,3.33,1.33,7.34,4.53,7.64,8.29l-3.38,1.57c-2.42-5.08-6.53-8.66-12.45-6.63-10.8,3.7-10.4,27.07,2.51,27.69,1.17.06,3.91-.67,3.91-1.85v-12.33h9.18l.79.79v16.53Z" style="fill:#f5d16b;"></path><path
        d="M588.37,240.92v37.79c-4.15,1.03-4.63-3.25-6.56-5.78-4.38,10.47-18.67,7.79-21.93-2.21-4.58-14.06,8.33-26.88,20.61-16.68v-13.12h7.87ZM571.95,254.68c-6.29,1.44-6.29,19.33,0,20.77,11.57,2.64,11.22-23.33,0-20.77Z"
        style="fill:#f5d16b;"></path><path d="M394.18,278.71c-5,1.15-4.41-3.01-7.09-5.76-2.97,5.43-8.4,8-14.43,6.02-11.06-3.64-7.34-20.31-2.64-27.82l5.78-.25c-1.01,5.88-4.49,18.59-.01,23.36,2.48,2.64,6.28,1.37,7.99-1.48.44-.74,1.99-4.78,1.99-5.36v-16.53h8.4v27.82Z" style="fill:#f5d16b;"></path><path d="M535.36,268.22c1.68,9.26,11.34,10.58,16.06,2.66l2.81,1.04c-.26,3.81-5.76,6.82-9.2,7.27-23.65,3.1-24.36-30.26-1.51-28.84,4.62.29,10.79,2.61,11.66,7.75,1.88,11.21-11.97,12.64-19.81,10.11ZM535.44,265.51c3.65,1.03,12.14,1.78,13.01-3.37.94-5.57-1.69-9.17-7.55-8.08-3.87.72-6.23,7.96-5.46,11.44Z" style="fill:#f5d16b;"></path><path
        d="M458.62,250.51c5.35-.68,11.45.41,15.31,4.37.19.92-3.74,4.02-4.4,3.87-1.12-1.18-2.05-3.03-3.47-3.91-3.43-2.11-11.43-1.55-9.85,3.55,1.35,4.39,18.36,1.9,18.6,11.73.28,11.54-19.51,11.38-25.52,4.63l3.96-3.91c2.24,1.75,4.9,4.77,7.88,5.21s8.57-.81,6.78-4.69c-2.09-4.53-19.76-2.04-18.59-12.81.53-4.9,4.79-7.47,9.3-8.04Z"
        style="fill:#f5d16b;"></path><path d="M408.88,278.71h-7.87v-40.41c.76.06,1.63-.15,2.36,0,.86.17,5.51,7.56,5.51,8.14v32.28Z" style="fill:#f5d16b;"></path></svg
    ></a
  >
</div>
<div class="grafisk_element">
  <img src="src/assets/imgIndex/grafisk_element_1.webp" alt="grafisk_element_1" />
</div>

<div class="index_container">
  <a href="/forside">
    <img src="src/assets/imgIndex/hus.webp" class="index_img" alt="hus_click_to_enter" />
  </a>
</div>

<h2 class="index_h2">© Charlotte Tijhuis</h2>

<style>
  body {
    background-color: var(--background-color);
  }

  .logo {
    width: 250px;
    height: auto;
    margin: 0 auto;
  }

  .grafisk_element {
    width: 100vw;
    margin-left: calc(50% - 50vw); /*re-center*/
  }

  .grafisk_element img {
    width: 100%;
    height: auto;
    display: block;
    margin-top: 1rem;
  }

  .index_container {
    overflow: hidden; /* ingen layout shift når vi scalerer */
  }
  .index_img {
    width: 500px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 2rem;

    transition: transform 0.3s ease;
  }

  .index_img:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .index_h2 {
    font-family: Gowun Batang;
    text-align: center;
    font-size: 1.2rem;
  }
</style>
