---
import KortFormboks from "../components/KortFormboks.astro";
import LangFormboks from "../components/LangFormboks.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Layout from "../layout/Layout.astro";
---

<Layout title="Kontakt">
  <h1>Kontakt</h1>
  <p class="kontakt_tekst">I kan kontakte os her for reservation af smykker. Ved bestsellers bedes I oplyse ringstørrelse og model. Ved øvrige forespørgsler er I altid velkomne til at skrive, ringe eller besøge butikken og vores Instagram for at se flere håndlavede smykker.</p>

  <section class="sectionform">
    <div class="grid">
      <form id="forms">
        <h3>Reserver dit smykke:</h3>
        <LangFormboks name="E-mail" placeholder="Din email" />

        <LangFormboks name="Navn" placeholder="Dit navn" />

        <LangFormboks name="Efternavn" placeholder="Dit efternavn" />

        <div class="kort">
          <KortFormboks name="smykke" options={["Ring", "Øreringe", "Halskæde", "Armbånd", "Herresmykke"]} />
        </div>

        <textarea class="tekstboks" placeholder="Din besked til mig.."></textarea>

        <button class="sendknap">Send </button>
      </form>

      <div class="kontaktinfo">
        <h3>“Reserver dit smykke hos mig og husk at forkæle både dig selv og en, du holder af.”</h3>

        <div class="butikinfo">
          <h3>Ses vi i butikken?</h3>
          <p class="ptekst">Helsingørsgade 3, 3400 Hillerød</p>
          <ul class="tider">
            <li>Mandag: Lukket</li>
            <li>Tirsdag: Efter aftale</li>
            <li>Onsdag: Efter aftale</li>
            <li>Torsdag: 11:00 – 17:30</li>
            <li>Fredag: 11:00 – 17:30</li>
            <li>Lørdag: 11:00 – 14:00</li>
            <li>Søndag: Lukket</li>
          </ul>
        </div>

        <h3>Følg med på:</h3>
        <SocialMedia />
      </div>
    </div>

    </section>
    <style>

      /* Tekstafsnit */

      .kontakt_tekst {
        margin: 0 auto 2rem;
       
      }

      /* Form */

      .sectionform {
        display: grid;
        max-width: 1200px;
        margin: 0 auto;
      }

      .grid {
      display: flex;
      flex-direction: column; /* ligger form og den grå boks under hinanden */
      width: 100%;
      }

      #forms {
        display: flex;
        flex-direction: column;  /* ligger under hinanden */
        gap: 15px;
        padding: 20px 20px;
      }

      .kort {
        margin-top: 1rem;
      }
      .tekstboks {
        width: 280px;
        height: 200px;
        border-radius: 15px;
        border: 1px solid black;
        background-color: #eeeded;
        padding: 10px;
        margin-top: 3rem;
        margin-bottom: 1rem;
      }

      .sendknap {
        width: 140px; /* bestemmer knappens bredde */
        height: 50px; /* bestemmer knappens højde */
        background-color: var(--purpleDecoration-color);
        color: var(--background-color);
        border: none;
        font-size: 20px;
        cursor: pointer;
        clip-path: polygon(12% 0%, 88% 0%, 100% 20%, 100% 80%, 88% 100%, 12% 100%, 0% 80%, 0% 20%); /* laver formen på knappen */
        margin-bottom: 3rem;
      }

      .sendknap:hover {
        background-color: #000000;
        transition: 0.5 ease; /* farven skifter langsomt */
      }


      /* Grå boks */

       .kontaktinfo {
        background-color: #eeeded;
        padding: 40px 30px;
        width: 270px; /* bestemmer breden på boksen */
        margin-left: 2rem;
      }

       .butikinfo {
        margin-top: 4rem;
        margin-bottom: 4rem;
      }

      .ptekst {
        margin-bottom: 1rem;
      }

      .tider {
        list-style: none; /* fjerner prikkerne fra listen */
      }


      /* Desktop version */


      @media (min-width: 800px) {
       
        /* Tekstafsnit */
      
        .kontakt_tekst {
          margin: 0 auto 8rem;
        }

         /* Form */

        .grid {
          display: flex;
          flex-direction: row; /* ligger elementerne ved siden af hinanden */

        }

        .tekstboks{
           width: 450px;
        height: 250px;
        }

         /* Grå boks */

        .kontaktinfo {
          width: 400px;  /* gør boksen bredere */
          margin-left: 10rem;
        }



      }
    </style>
 </Layout>
