---
import Layout from "../layout/Layout.astro";
---

<Layout title="Om os">

<h1>Min passion</h1>

<div class="grid_1-1 pink-bg">
    <img class="imgomos1" src="src/assets/imgOmOs/omospic1.jpg" alt="Billede af Charlotte og Joanna">
    <div class="ptekst">
        <p>Mit univers begyndte med en kærlighed til at skabe smykker med hænderne. Det startede med knyttede smykker og små kurser, men udviklede sig hurtigt til en passion for håndværk, ædelsten og design.På mine mange rejser — særligt i Asien og Indien — fandt jeg inspiration i kulturerne, farverne og de organiske former. Jeg begyndte at tage perler og ædelsten med hjem, som blev en del af mine første designs og fundamentet for det univers, jeg arbejder i i dag.Som 42-årig valgte jeg at følge min passion og begyndte i lære som guldsmed. Kort tid efter åbnede jeg min egen butik i Hillerød.Her arbejder jeg i dag med ægte materialer som guld og sølv og skaber smykker inspireret af naturen, symbolik og historierne, mennesker bærer med sig. </p>
    </div>
</div>

<div class="grid_1-1">
    <div class="ptekst2">
        <h2>Autentisk og upoleret</h2>
        <p>Jeg elsker det upolerede og autentiske — for mig behøver noget ikke være perfekt for at være smukt. Som jeg ofte siger:“Tag øjeblikket og gør det perfekt.I dag driver jeg butikken sammen med Joana, som med sin kreativitet og varme er blevet en vigtig del af universet. Sammen ønsker vi at skabe et nærværende rum med plads til personlighed, håndværk og smykker med betydning.</p>
    </div>
    <img class="imgomos2" src="src/assets/imgOmOs/omos2.jpg" alt="Billede af Charlotte foran butik">
</div>

<div class="galleri">
    <h2 class="overskrift3">Min Smykkerejse</h2>
    <div class="galleri-grid">
        <img src="src/assets/imgOmOs/omospic3.jpg" alt="Billede fra indien1">
        <img src="src/assets/imgOmOs/omospic4.jpg" alt="Billede fra indien2">
        <img src="src/assets/imgOmOs/omospic5.jpg" alt="Billede af smykkepose fra indien">
        <img src="src/assets/imgOmOs/omospic6.jpg" alt="Billede fra indien3">
    </div>
<p class="galleri-p">Jeg tror på, at smykker handler om mere end design - det handler også om mennesker, håndværk og omtanke. Selv mine smykkeposer er håndlavet i hør og silke af små familiedrevne virksomheder i Indien og skabt til at kunne bruges igen og igen. Derfor betyder det meget for mig at skabe sociale og økonomiske samarbejder med mindre håndværkere, hvor vi kan inspirere hinanden og skabe noget sammen. Hvert år rejser jeg selv til Indien i flere måneder for at skabe tætte samarbejder, finde unikke sten og hente inspiration i landets farver og kultur. Det giver mig mulighed for at skabe smykker med særlige sten og detaljer, som gør hvert smykke mere unikt og personligt.For mig er det vigtigt at støtte små familier og lokale håndværkere, så hvert smykke bliver en del af en større historie – med personlighed, omtanke og kærlighed til det unikke håndværk.</p>
</div>
</Layout>

<style>

.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;

    align-items: stretch;
    margin-bottom: 8rem;
}

.grid_1-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.ptekst  {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ptekst2  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3rem;
}


.pink-bg .ptekst {
    background-color: #d9868f;
    padding: 3rem;
}


.overskrift3{
    margin-right: 6rem;
    text-align: end;
}
.galleri-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.galleri-grid img {
    width:105%;
    height: 120px;
    object-fit: cover;
    display: block;
}

.galleri-p{
    text-align: center;
    
}

/*dekstop*/
@media (min-width: 800px) {

    .grid_1-1 {
        grid-template-columns: 1fr 1fr;
        gap: 0;
        align-items: stretch;
    }

    .grid_1-1 img {
        height: 100%;
        object-fit: cover;
    }

    .ptekst {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .galleri-grid img {
    width: 100%;
    height: 280px;
  
}

}
    
</style>