---
import "../style/global.css";

import SocialMedia from "../components/SocialMedia.astro";
---

<div class="footerSection">
  <div class="footer">
    <div class="Kontakt">
      <h3>Brug for hjælp?</h3>
      <a href="mailto:guldsmed@charlotte-t.dk">guldsmed@charlotte-t.dk</a>
      <p>
        +45 81 44 66 88 <br />

        Helsingørsgade 3, <br />
        3400 Hillerød
      </p>
    </div>

    <SocialMedia SocialMediaTekst="Socials" />

    <div class="kontaktLinks">
      <a href="/omOs">Guldsmed</a>
      <a href="/kontakt">Kontakt</a>
      <a href="/bohippe">Bohippie</a>
    </div>
  </div>

  <hr />
  <p class="footerName">© Guldsmed Charlotte Tijhuis</p>
</div>
<style>
  .footerSection {
    background-color: var(--section-color);
    margin-top: 7rem;
    
  }
  .footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 1rem;
    align-items: start;
    margin-bottom: 5rem;
  }

  .kontaktLinks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .footerName {
    text-align: center;
    padding: 0.5rem;
    margin: 0 auto;
  }

  hr {
    background-color: black;
    height: 2px;
  }

.footerSection h3 {
      font-size: 11px;
    }

  @media (min-width: 801px) {
   
    .footer {
       display: grid;
    grid-template-columns: 5fr 1fr 1fr;
    }
    
.footerSection h3 {
      font-size: 25px;
    }


    .kontaktLinks {
      gap: 1rem;
    }
  }
</style>
