---
import { Image } from "astro:assets";
import Ringe from "../assets/imgMenu/ring.png";
import Armbånd from "../assets/imgMenu/armband.png";
import Halskæde from "../assets/imgMenu/halskaede.png";
import Ørering from "../assets/imgMenu/orering.png";
import Herre from "../assets/imgMenu/herre.png";
import Signatur from "../assets/imgMenu/Sol_menu.png";
import "../style/global.css";
---

<ul class="dropdown-menu">
  <li>
    <a href="/productList/ring">
      <Image class="kategoriImg" src={Ringe} width={200} format="webP" alt="Menu Kategori Ringe" />
      Ringe</a
    >
  </li>
  <li>
    <a href="/productList/armband">
      <Image class="kategoriImg" src={Armbånd} width={200} format="webP" alt="Menu Kategori Armbånd" />
      Armbånd</a
    >
  </li>
  <li>
    <a href="/productList/halskaede">
      <Image class="kategoriImg" src={Halskæde} width={200} format="webP" alt="Menu Kategori Halskæde" />
      Halskæde</a
    >
  </li>
  <li>
    <a href="/productList/orering">
      <Image class="kategoriImg" src={Ørering} width={200} format="webP" alt="Menu Kategori Ørering" />
      Ørering
    </a>
  </li>

  <li>
    <a href="/productList/herre">
      <Image class="kategoriImg" src={Herre} width={200} format="webP" alt="Menu Kategori Herre" />
      Herre
    </a>
  </li>
  <li>
    <a href="/productList">
      <Image class="kategoriImg" src={Signatur} width={200} format="webP" alt="Menu Kategori Signatur" />
      Signatur
    </a>
  </li>
</ul>
<style>

.dropdown-menu {
  display: none;
}

@media (min-width: 801px) {

  .dropdown-menu {
     
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    position: absolute;
   width: 100%;

    gap: 5rem;
    padding: 2rem;

    background: var(--section-color);

    z-index: 9999;



  }

  .dropdown-menu li a {
    color: var(--text-color);
  }
  li {
    list-style: none;
    text-align: center;
  }
  a {
    text-decoration: none;
  }
}
</style>
