---
const { name, options } = Astro.props;
---

<select class="kort-formboks" name={name} required>
  <option value="">Vælg smykke</option> 
  {options.map((option: string) => <option value={option}>{option}</option>)}
</select>

<style>



  .kort-formboks {
    width: 150px;
    height: 40px; 
    border-radius: 15px;
    border: 1px solid black;
    background-color: #eeeded;
    padding: 10px;
  }


  @media (min-width: 800px) {
.kort-formboks{
  width: 250px;
}

  }

</style>
