---
import KategoriMenu from "../components/KategoriMenu.astro";
---

<div class="header">
  <nav>
    <ul class="menu">
      <li><a href="/forside">Forside</a></li>
      <li>
        <a id="btn" href="">Smykker</a>
        <ul class="MobilKategoriMenu">
          <li><a href="/productList?kategori=orering">Ørering</a></li>
          <li><a href="/productList?kategori=ring">Ring</a></li>
          <li><a href="/productList?kategori=herre">Herre</a></li>
          <li><a href="/productList?kategori=armband">Armbånd</a></li>
          <li><a href="/productList?kategori=halskaede">Halskæde</a></li>
            <li><a href="/productList">Signatur</a></li>
        </ul>
      </li>

      <li><a href="/omOs">Om mig</a></li>
      <li><a href="/bohippe">Bohippie</a></li>
      <li><a href="/kontakt">Kontakt</a></li>
    </ul>
  </nav>

  <div class="logo">
    <a href="/forside">
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <!--?xml version="1.0" encoding="UTF-8"?-->
      <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 852.47 307.68"
        ><path d="M549.25,152.11c-6.18,6.9-7.35-9.84-8.95-13.55-12.84-29.76-64.97-25.12-67.4,8.79-.33,4.63,4.04,15.75-1.14,17.98-5.6,2.42-7.33-12.03-7.26-15.17.83-35.74,44.9-52,72.18-32.07,7.61,5.56,19.86,25.86,12.57,34.01Z" style="fill:#cdb06d;"></path><path d="M657.18,57.79c-28,10.57-56.32,25.61-79.42,45-8.19,6.87-15.33,20.39-26.52,19.21-5.13-5.09,19.13-25.51,23.31-28.84,23.32-18.53,52.51-32.88,81.86-38.53l.77,3.16Z" style="fill:#cdb06d;"></path><path d="M583.32,1.63c1.1,1.22-5.42,9.91-6.7,11.74-14.49,20.81-29.18,37.36-40.13,61-4.4,9.49-5.21,23.5-14.97,28.34-7.61-.38,4.15-29.07,5.82-32.67,11.72-25.18,34.09-51.65,55.97-68.41Z" style="fill:#cdb06d;"></path><path
          d="M461.35.03c2.31-.38,2.24,2.83,2.7,4.48,4.82,17.39,5.94,37.17,10.58,55.24,3.34,13.03,7.77,25.72,13.23,38-2.74,13.98-10.88.17-13.97-6.76-11.03-24.76-15.75-64.2-12.54-90.96Z"
          style="fill:#cdb06d;"></path><path d="M384.29,56.2c14.97,12.26,27.47,27.6,42.57,40.08,8.34,6.9,28.34,18.21,33.7,24.08,3.82,4.18,3.19,8.42-2.83,7.79-8.54-.9-31.15-19.67-38.16-26.19-5.34-4.96-39.27-40.65-35.28-45.77Z" style="fill:#cdb06d;"></path><path d="M663.59,131.65c0,2.57-5.49,2.57-7.47,2.94-15.67,2.94-33.24,3.18-49.29,5.29-10.29,1.36-23.18,5.45-32.58,6.08-6.69.45-10.16-3.58-4.39-7.73,10.17-7.33,65.99-9.14,80.15-8.27,4.57.28,8.92,2.12,13.57,1.69Z" style="fill:#cdb06d;"></path><path d="M448.48,157.29c-3.87,5.89-37.54-5.53-44.17-7.97-14.46-5.32-33.37-13.39-44.12-24.09,15.55,3.23,29.87,10.55,44.96,15.22,7.03,2.18,39.33,8.92,41.75,11.22,1.88,1.78,1.83,3.22,1.57,5.62Z" style="fill:#cdb06d;"></path><path
          d="M89.9,158.98v25.87c5-.21,6.43-5.35,11.57-6.53,36.2-8.32,31.47,38.17,16.78,58.17-3.49,4.76-11.98,11.68-10.79,1.4,1.53-13.23,13.36-36.54,3.25-50.13-7.05-9.48-20.81,3.49-20.81,11.75v33.64c-5.2-.48-11.85,1.92-15.52-2.59v-71.58h15.52Z"
          style="fill:#5e2750;"></path><path d="M660.85,158.98v25.87c5-.21,6.43-5.35,11.57-6.53,36.2-8.32,31.47,38.17,16.78,58.17-3.49,4.76-11.98,11.68-10.79,1.4,1.57-13.66,13.17-34.89,3.68-49.12-7.71-11.57-21.24,2.52-21.24,12.47v31.91c-5.2-.48-11.85,1.92-15.52-2.59v-71.58h15.52Z" style="fill:#5e2750;"></path><path d="M195.12,230.57c-1.34,4.34-17.86,4.4-18.1-2.58-25.84,17.59-48.63-11.47-36.83-36.82,7.13-15.31,32.43-19.97,39.43-2.87l3.47-.8,6.17-9.37c1.89-1.17,5.86,1.2,5.86,2.42v50.02ZM161.85,185.2c-10.67,3.2-11.02,31.2-3.85,37.64,22.22,19.97,30.11-45.52,3.85-37.64Z" style="fill:#5e2750;"></path><path
          d="M64.02,183.12l-6.97.9c-21.99-34.92-50.77,8.75-33.45,33.48,9.87,14.09,25.36,10.8,32.9-3.41l7.51,2.71c-19.68,33.47-70.16,14.11-63.4-25.5,5.21-30.53,53.12-39.18,63.4-8.18Z"
          style="fill:#5e2750;"></path><path d="M762.62,233.15c-7.03,1.34-8.86-6.77-10.38-12.07-4.49-1.14-3.69,3.38-6.76,6.11-6.54,5.8-9.14,6.69-18.3,6.05-19.87-1.38-20.07-22.36-16.83-37.69,2.05-9.68,6-20.78,17.75-17.59-3.18,10.52-10.44,58.45,12.1,47.43,11.25-5.5,4.84-35.56,7.64-45.82l14.77-1.62v55.2Z" style="fill:#5e2750;"></path><path d="M308.51,178.37c47.58-8.15,49.74,59.18,3.03,54.79-32.16-3.03-33.77-49.52-3.03-54.79ZM313.69,183.4c-16.65,2.97-15.63,45.75,2.91,44.56,18.7-1.2,18.14-48.32-2.91-44.56Z" style="fill:#5e2750;"></path><path
          d="M453.87,212.46c1.76,12.72,13.81,18.83,24.8,11.84,4.37-2.78,3.26-7.88,8.81-6.66,6.31,2.43-1.87,9.5-4.38,11.11-19.85,12.79-47.26-.02-45.69-25.01,2.27-36.2,58.48-32.65,54.33-4.36-2.25,15.34-26.25,16.04-37.87,13.07ZM454.06,207.09c13.49,7.88,35.27-6.47,22.3-19.72-11.96-12.22-26.42,6.69-22.3,19.72Z"
          style="fill:#5e2750;"></path><polygon points="579.78 165.88 579.79 174.52 560.8 174.51 560.8 233.15 543.55 233.15 543.55 174.51 524.57 174.52 524.58 165.88 579.78 165.88" style="fill:#5e2750;"></polygon><path d="M850.58,184.89c1.51,2.72-7.06,8.28-7.77,8.28-1.23,0-7.22-8.87-14.24-9.72-4.12-.5-12.17.83-12.61,5.74-1.16,12.86,32.71,7.98,36.01,22.79,5.35,24-34.36,26.16-47.95,14.24l6.26-8.47c2.6-.45,5.91,4.89,8.63,6.52,11.92,7.1,27.68-1.15,18.36-8.46-10.63-8.33-36.9-1.2-33.16-24.81,2.93-18.49,34.78-14.83,46.46-6.11Z" style="fill:#5e2750;"></path><path d="M403.83,184.86l-10.36-.87v-6.02s10.37,0,10.37,0l-.02-18.99,14.54-.02.98,19.01h15.54s0,6.88,0,6.88h-15.53v45.72c-3.67,4.51-10.32,2.1-15.52,2.59v-48.3Z" style="fill:#5e2750;"></path><path
          d="M358.99,184.86l-8.63-.87v-6.02s8.64,0,8.64,0l-.02-18.99,14.54-.02.98,19.01c1.79,1.8,22.01-4.21,16.38,6.9h-16.38s0,48.29,0,48.29c-5.2-.48-11.85,1.92-15.52-2.59v-45.71Z"
          style="fill:#5e2750;"></path><path d="M616,180.54c1.16-3.74,14.91-4.08,17.25,0v36.22c0,3.97-3.24,14.93-4.88,19.27s-11.4,21.66-15.89,20.57l-4.92-3.59c1.76-3.57,8.44-16.15,8.44-19v-53.47Z" style="fill:#5e2750;"></path><path d="M260.67,233.15v-79.35c5.77-2.15,14.25,12.71,15.16,16.75,1.21,5.33,1.35,58.48-.39,60.98l-14.77,1.62Z" style="fill:#5e2750;"></path><path d="M207.19,180.54l4.29-2.58,8.65,12.03c6.5-12.92,21.94-17.06,32.89-6.88l-8.75,13.8c-1.04.44-1.27-11.06-8.71-12.12-7.87-2.38-12.84,10.8-12.84,16.44v31.91c-5.2-.48-11.85,1.92-15.52-2.59v-50.02Z" style="fill:#5e2750;"></path><path d="M586.68,180.54c1.16-3.74,14.91-4.08,17.25,0v50.02c-3.71,4.07-13.54,4.07-17.25,0v-50.02Z" style="fill:#5e2750;"></path><polygon
          points="791.94 177.96 791.94 233.15 777.17 231.54 776.66 180.78 779.24 178.2 791.94 177.96"
          style="fill:#5e2750;"></polygon><path d="M601.78,159.41c9.69,9.72-11.18,22.44-14.84,8.67-2.58-9.68,9.47-14.06,14.84-8.67Z" style="fill:#5e2750;"></path><path d="M631.1,159.41c9.69,9.72-11.18,22.44-14.84,8.67-2.58-9.68,9.47-14.06,14.84-8.67Z" style="fill:#5e2750;"></path><path d="M781.09,157.55c8.4-2.49,15.78,6.88,9.91,13.41-10.4,11.58-21.3-10.03-9.91-13.41Z" style="fill:#5e2750;"></path><path
          d="M448.52,260.89c5.62-1.35,6.39,3.92,8.07,8.06,1.3,1.22,2.7-3.49,3.34-4.34,5.15-6.95,19.33-6.21,21.57,2.88,2.06.12,2.27-2.65,4.13-4.28,4.62-4.07,11.74-4.06,16.89-1,13.27,7.9,4.01,37.46-6.17,45.48l-4.63-1.77c1.36-2.95,2.63-5.81,3.48-8.97,1.73-6.43,6.09-29.86-3.26-31.55-3.99-.72-7.52,5.11-7.52,8.31v26.01h-11.72v-26.74c0-2.75-3.53-8.09-6.8-7.58s-5.66,6.31-5.66,9.04v25.28h-11.72v-38.83Z"
          style="fill:#cdb06d;"></path><path d="M398.7,246.97v52.75c-6.37,1.38-5.67-2.51-8.58-6.4-1.81-2.43-2.02,1.17-3.85,3.14-8.12,8.75-23,4.05-27.35-6.42-6.89-16.6,5.13-34.67,23.42-28.55l4.63,3.8v-18.32h11.72ZM375.05,266.17c-8.72,2-10,31.17,4.19,29.1,11.47-1.68,10.85-32.56-4.19-29.1Z" style="fill:#cdb06d;"></path><path d="M282.94,299.72c-3.94.61-5.04-.58-6.96-3.65-13.77,11.03-36.22,2.8-39.76-14.47-4.3-21.04,15.36-37.35,35.26-29.4,4.65,1.86,10.25,6.32,10.67,11.57l-4.72,2.19c-3.38-7.09-9.12-12.09-17.38-9.26-15.08,5.17-14.52,37.79,3.51,38.65,1.63.08,5.46-.94,5.46-2.58v-17.22h12.82l1.1,1.1v23.08Z" style="fill:#cdb06d;"></path><path
          d="M600.18,246.97v52.75c-5.79,1.44-6.46-4.54-9.16-8.07-6.11,14.61-26.06,10.87-30.61-3.09-6.4-19.63,11.63-37.52,28.78-23.28v-18.32h10.99ZM577.26,266.17c-8.78,2.01-8.78,26.99,0,28.99,16.15,3.69,15.66-32.57,0-28.99Z"
          style="fill:#cdb06d;"></path><path d="M329.1,299.72c-6.97,1.6-6.16-4.2-9.89-8.05-4.15,7.57-11.72,11.17-20.14,8.4-15.44-5.08-10.24-28.36-3.68-38.83l8.07-.35c-1.41,8.2-6.27,25.95-.01,32.61,3.47,3.69,8.77,1.91,11.15-2.06.62-1.03,2.78-6.68,2.78-7.48v-23.08h11.72v38.83Z" style="fill:#cdb06d;"></path><path d="M526.19,285.07c2.35,12.92,15.83,14.77,22.42,3.71l3.92,1.45c-.36,5.32-8.04,9.52-12.85,10.15-33.02,4.33-34-42.24-2.11-40.26,6.45.4,15.07,3.64,16.28,10.82,2.63,15.65-16.71,17.64-27.66,14.12ZM526.29,281.3c5.1,1.44,16.95,2.48,18.17-4.7,1.32-7.78-2.36-12.8-10.54-11.27-5.4,1.01-8.7,11.11-7.62,15.97Z" style="fill:#cdb06d;"></path><path
          d="M419.06,260.36c7.46-.94,15.98.58,21.37,6.1.27,1.28-5.22,5.62-6.14,5.4-1.56-1.65-2.87-4.23-4.84-5.45-4.79-2.95-15.95-2.16-13.76,4.96,1.89,6.13,25.63,2.65,25.96,16.38.39,16.1-27.23,15.89-35.62,6.46l5.53-5.46c3.13,2.44,6.83,6.66,11,7.27s11.96-1.13,9.47-6.54c-2.91-6.32-27.59-2.85-25.96-17.88.74-6.85,6.69-10.43,12.98-11.23Z"
          style="fill:#cdb06d;"></path><path d="M349.62,299.72h-10.99v-56.41c1.06.08,2.28-.2,3.29,0,1.2.24,7.7,10.55,7.7,11.36v45.06Z" style="fill:#cdb06d;"></path></svg
      >
    </a>
  </div>

  <button class="burger" aria-label="Menu">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </button>
</div>
<div class="hide fadeIn" id="kategoriMenuPopup">
  <KategoriMenu />
</div>
<style>
  /********** MENU **********/

  .header {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100px;
    padding: 0 20px;
  }

  /* BURGER */

  .burger {
    display: block;

    width: 30px;
    height: 20px;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  .burger .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000000;
    margin-bottom: 5px;
    transition: 0.2s;
  }

  /* BURGER ANIMATION */

  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* MOBILE MENU */

  .menu {
    display: none;
    list-style: none;
  }

  nav.active .menu {
    display: block;
    position: absolute;
    top: 100px;
    z-index: 100;
    right: 0;
    width: 100%;
    height: auto;
    background-color: var(--section-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  }

  nav.active .menu li {
    margin: 12px 20px;
  }

  .menu a {
    display: block;
    text-decoration: none;

    transition: 0.7s;
    padding: 1rem;
    font-size: 25px;
  }

  .menu a:hover {
    color: var(--purpleDecoration-color);
    text-decoration: overline;
  }

  /************ DROPDOWN MENU **********/
  .hide {
    display: none;
  }

  .MobilKategoriMenu li {
    margin: 0 auto;
    list-style: none;
  }

  .MobilKategoriMenu li a {
    font-size: 20px;
    padding: 0 0 0 3rem;
  }

  /********* LOGO ***********/

  .logo {
    width: 260px;
    margin-top: 1rem;
    margin: 0 auto;
  }

  @media (min-width: 801px) {
    /********** MENU **********/

    .header {
      justify-content: space-between;
      margin-bottom: 2rem;
    }

    .menu {
      display: flex;
      gap: 20px;
    }

    .burger {
      display: none;
    }

    .menu a {
      color: var(--text-color);
    }

    .logo {
      margin: 1rem 1rem 0 0;
    }

    /************ DROPDOWN MENU **********/
    .hide {
      display: none;
    }

    .MobilKategoriMenu {
      display: none;
    }
  }
</style>

<script>
  const burger = document.querySelector(".burger");
  const nav = document.querySelector("nav");

  burger.addEventListener("click", burgerClick);
  function burgerClick() {
    burger.classList.toggle("active");
    nav.classList.toggle("active");
  }

  /***** KategoriMenu ********/

  const btn = document.querySelector("#btn");
  const Kategori_Menu = document.querySelector("#kategoriMenuPopup");

  /***** Open ****/

  btn.addEventListener("click", (e) => {
    e.preventDefault();
    Kategori_Menu.classList.remove("hide");
  });
  /***** Close ****/

  document.addEventListener("click", (e) => {
    if (!Kategori_Menu.contains(e.target) && !btn.contains(e.target)) {
      Kategori_Menu.classList.add("hide");
    }
  });
</script>
