---
import "../style/global.css";
import { Image } from "astro:assets";
import Insta from "../assets/imgFooter/instaLogo.png";
import Facebook from "../assets/imgFooter/FacebookLogo.png";
const { SocialMediaTekst } = Astro.props;
---

<div class="SoMe">
  <h3>{SocialMediaTekst}</h3>
  <Image class="SocialsImg" src={Insta} width={75} format="webP" alt="Link til Instagram" />
  <Image class="SocialsImg" src={Facebook} width={75} format="webP" alt="Link til Facebook" />
</div>

<style>
  .SocialsImg {
    width: 25px;
    height: auto;
  }

  .SoMe {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 801px) {
    .SocialsImg {
      width: 50px;
      height: auto;
    }
  }
</style>
