---
import "../style/global.css";
import Menu from "../components/Menu.astro";
import Footer from "../components/Footer.astro";
const { title, pageClass } = Astro.props;
---

<!doctype html>
<html lang="da">
  <head>
    <meta charset="utf-8" />
 
    <link rel="icon" href="/FaviconCharlotte.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!--Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Coming+Soon&family=Gowun+Batang&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
  </head>
  <body class={pageClass}>
    <header>
      <Menu />
    </header>

    <main>
      <slot />
    </main>

    <footer>
      <Footer />
    </footer>
  </body>
</html>
